<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="siriDB" connectionString="Data Source=OR94;Initial Catalog=SiriDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
     <add name="siriDB" connectionString="Data Source=MSSQLSERVER;Initial Catalog=SiriDB;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SiriSOAPBinding" />
                <binding name="SiriSOAPBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://siri.netcast.co.il/Siri/SiriServices"
                binding="basicHttpBinding" bindingConfiguration="SiriSOAPBinding"
                contract="ServiceReference.SOAPPort" name="SiriWSPort" />
            <endpoint address="http://siri.netcast.co.il/Siri/SiriServices"
                binding="basicHttpBinding" bindingConfiguration="SiriSOAPBinding1"
                contract="ServiceReference1.SOAPPort" name="SiriWSPort1" />
        </client>
    </system.serviceModel>
</configuration>