<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Siri_sm_demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="siriDB" connectionString="Data Source=OR94;Initial Catalog=SiriDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
     <add name="siriDB" connectionString="Data Source=ASSAF-PC\OR94;Initial Catalog=SiriDB;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SiriSOAPBinding" />
                <binding name="SiriSOAPBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://siri.meronevent.com/Siri/SiriServices"
                binding="basicHttpBinding" bindingConfiguration="SiriSOAPBinding"
                contract="ServiceReference.SOAPPort" name="SiriWSPort" />
            <endpoint address="http://siri.meronevent.com/Siri/SiriServices"
                binding="basicHttpBinding" bindingConfiguration="SiriSOAPBinding1"
                contract="ServiceReference1.SOAPPort" name="SiriWSPort1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Siri_sm_demo.Properties.Settings>
            <setting name="Siri_sm_demo_ituranWS_Service3" serializeAs="String">
                <value>https://www.ituran.com/ituranwebservice3/Service3.asmx</value>
            </setting>
        </Siri_sm_demo.Properties.Settings>
    </applicationSettings>
</configuration>